----
# CS116: Computational reasoning with and without data
----
* date: 11-29-2022
* name: Jikhan Jeong (JJ)
----
1. Intro

* ice-breaking: digital currency, smart contract, vending machine, and Amazon
* plan : 10:30-11:30am
* Questions about tools (Jupyternotebook, colab, github, and others) 

2. Goal: learn how to apply *computational thinking*   
- step 0: intro (5 min)
- step 1: learn the basics (10 min)
- step 2: apply it with small examples (20 min)
- step 3: apply it with a real dataset (20 min)
- step 4: discuss future directions (5 min)

3. Google colab intro : https://colab.research.google.com/
- Free CPU
- Free Storage
- Free GPU 
- With Google Drive and GitHub

4. (concept) Python key concepts 
* ref: https://github.com/Jikhan-Jeong/IDA
* Basic operations
* Iteration
* Conditional statement
* Function

5. (example demo) Creating our vending machine function


6. (example activities) In-class activity for modifying our vending machine function

7. (example discussion) How to improve our vending machine function

8. (real data example) Amazon Online Review for Wine (amazon_wine.csv)
* Amazon Online Review for Wine

9. (real data example demo): Applying iteration and function

10. (real data example activity): Applying all we have learn today

11. (real data example discussion): For computational thinking and future ideas

12. Share resources for future studies

13. Q&A

---
# 4. (concept) Python key concepts 
* Ref: https://github.com/Jikhan-Jeong/IDA
* Basic operations
* Iteration
* Conditional statement
* Function
---

### Basic operations

In [1]:
print('hello, world')

hello, world

In [2]:
print('hello, world')
print('hello, world')
print('hello, world')
print('hello, world')
print('hello, world')
print('hello, world')
print('hello, world')

hello, world
hello, world
hello, world
hello, world
hello, world
hello, world
hello, world

---
* iteration with for-loop
---

In [ ]:
for i in range(0,2):
  print(i)

0
1

In [ ]:
for i in range(1,2):
  print(i)

1

* how to print from 0 to 7

In [ ]:
# modify the following code
# for i in range():

0
1
2
3
4
5
6

---
* How to use iteration for generating seven sentences?
---

In [3]:
# modify the following code
# for i in range(  ):

hello, world
hello, world
hello, world
hello, world
hello, world
hello, world
hello, world

---
* How to use iteration for generating seven sentences + index number?
---

In [41]:
# modify the following code
# for i in range(  ):

hello, world 0
hello, world 1
hello, world 2
hello, world 3
hello, world 4
hello, world 5
hello, world 6

---
* conditional statement
---

In [5]:
# True case
your_choice ='diet coke'
your_choice

'diet coke'

In [6]:
# True case
if your_choice == 'diet coke':
   print('you need to pay 2 dollars')

you need to pay 2 dollars

In [7]:
# False case
your_choice ='diet pesi';your_choice

'diet pesi'

In [8]:
# False case
if your_choice == 'diet coke':
   print('you need to pay 2 dollars')

In [9]:
# With number
today = 29
if today == 31:
  print('Nov 31, 2022')

In [10]:
# With number
today = 31
if today == 31:
  print('Nov 31, 2022')

Nov 31, 2022

In [11]:
# False
a=5
if a>7:
  print('larger than 7')

In [12]:
# True
a=15
if a>7:
  print('larger than 7')

larger than 7

In [102]:
a=6
if a>7:
  print('larger than 7')
else:
  print('less or equal to 7')

less or equal to 7

In [104]:
a=5

if a>7:
  print('larger than 7')
elif 7>=a>3:
  print('less or equal to 5 and larger than 3')
else:
  print('less or equal to 3')

less or equal to 5 and larger than 3

In [105]:
a=1

if a>7:
  print('larger than 7')
elif 7>=a>3:
  print('less or equal to 5 and larger than 3')
else:
  print('less or equal to 3')

less or equal to 3

---
function
---

In [92]:
def print_input_function(input):
  print(input)

In [95]:
print_input_function('hello world')

hello world

In [94]:
def print_input_and_number_function(input, number):
    print(input, number)

In [96]:
print_input_and_number_function('hello world', 3)

hello world 3

In [99]:
def print_input_with_iteration_function(input, number):
    for i in range(0, number):
        print(input, i)

In [100]:
print_input_with_iteration_function('hello world', 7)

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4
hello world 5
hello world 6

---
# 5 (example demo) Creating our vending machine function
---

In [16]:
def vending_machine(input):
  print('your order is:')
  print(input)

In [17]:
vending_machine('diet coke')

your order is:
diet coke

In [22]:
def vending_machine_2(input):
  if input == 'diet coke':
    print('Please pay 2 dollars')
  elif input == 'diet pesi':
    print('Please pay 3 dollars')
  else: 
    print('Not available')

In [23]:
vending_machine_2('diet pesi')

please pay 3 dollars

In [24]:
vending_machine_2('pesi')

not available

In [33]:
def vending_machine_3(input, money):
  if input == 'diet coke':
     print('Please pay 2 dollars')
     if money >= 2:
        print('Your diet coke is out')
     else:
        print('You need to pay 2 dollars')
  elif input == 'diet pesi':
       print('Please pay 3 dollars')
       if money >= 3:
          print('Your diet pesi is out')
       else:
          print('You need to pay 3 dollars')
  else: 
       print('Not available')

In [32]:
vending_machine_3('diet pesi',10)

please pay 3 dollars
your diet pesi is out

In [34]:
vending_machine_3('diet pesi',1)

Please pay 3 dollars
You need to pay 3 dollars

---
# 6 (example activities) In-class activity for modifying our vending machine function
* modify **vending_machine_3** to print out changes 
* For example, JJ purchase diet pesi for 10 dollars, and diet pesi is 3 dollars; therefore, the change will be 7 dollars 
---

In [38]:
# Hint you need to change this code
def vending_machine_4(input, money):
  if input == 'diet coke':
     print('Please pay 2 dollars')
     if money >= 2:
        print('Your diet coke is out')
        print('Your change is :')
     
     else:
        print('You need to pay 2 dollars')
  elif input == 'diet pesi':
       print('Please pay 3 dollars')
       if money >= 3:
          print('Your diet pesi is out')
          print('Your change is :')
         
       else:
          print('You need to pay 3 dollars')
  else: 
       print('Not available')

In [39]:
vending_machine_4('diet pesi', 10)

Please pay 3 dollars
Your diet pesi is out
Your change is :

---
# 7 (example discussion) How to improve our vending machine function
* any open idea to improve our vending machine
* for example, can we pay it with bitcoin?
---

---
# 8 (real data example): Amazon Online Review for Wine (amazon_wine.csv)
* data: amazon_wine.csv
* overall : five-star ratings
* brand : top 5 brand
---

In [49]:
import pandas as pd

df = pd.read_csv('amazon_wine.csv', index_col=[0])
df = df.reset_index(drop=True)
df

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,vote,category,...,3,4,5,6,7,8,9,10,11,12
0,4.0,0,"12 19, 2004",A4UKBG3M5U5TI,B0002IMNMI,Westley,Cheerwine soda has been a southern tradition s...,Taste the North Carolina dew!,11.0,"['Grocery & Gourmet Food', 'Beverages', 'Bottl...",...,0,0,0,0,0,0,0,0,0,1
1,4.0,0,"12 19, 2004",A4UKBG3M5U5TI,B0002IMNMI,Westley,Cheerwine soda has been a southern tradition s...,Taste the North Carolina dew!,11.0,"['Grocery & Gourmet Food', 'Beverages', 'Bottl...",...,0,0,0,0,0,0,0,0,0,1
2,5.0,0,"11 22, 2004",A2066L25IWX8QK,B0002IMNMI,Paul A. Fucito,I spent a few years living in North Carolina a...,North Carolina Favorite,7.0,"['Grocery & Gourmet Food', 'Beverages', 'Bottl...",...,0,0,0,0,0,0,0,0,1,0
3,5.0,0,"11 22, 2004",A2066L25IWX8QK,B0002IMNMI,Paul A. Fucito,I spent a few years living in North Carolina a...,North Carolina Favorite,7.0,"['Grocery & Gourmet Food', 'Beverages', 'Bottl...",...,0,0,0,0,0,0,0,0,1,0
4,2.0,1,"02 22, 2018",A2CQQ797MCDFHU,B0002IMNMI,Robin C Wilson,"Okay product, just not worth the price.",Two Stars,NaN,"['Grocery & Gourmet Food', 'Beverages', 'Bottl...",...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,4.0,1,"06 3, 2018",A1YQQZ2K6L5LCM,B00JLRUC1K,Rhetorician,"Fresh, soft, tasty, and chewy--what more do yo...",Better Than I Expected,NaN,"['Grocery & Gourmet Food', 'Candy & Chocolate'...",...,0,0,0,1,0,0,0,0,0,0
1206,4.0,1,"05 3, 2018",A1SOKOM7JIXLXQ,B00JLRUC1K,Charles Braun,Gums were good. Three-bag deal should be offer...,Four Stars,NaN,"['Grocery & Gourmet Food', 'Candy & Chocolate'...",...,0,0,1,0,0,0,0,0,0,0
1207,3.0,1,"04 22, 2018",AVKOI6KWXGUYJ,B00JLRUC1K,R Wilson,"Fast shipping, good product...",good product.,NaN,"['Grocery & Gourmet Food', 'Candy & Chocolate'...",...,0,1,0,0,0,0,0,0,0,0
1208,5.0,1,"04 22, 2018",A18HSVQIC7QO17,B00JLRUC1K,Mia,super yum...just gotta stop buying them they a...,Five Stars,NaN,"['Grocery & Gourmet Food', 'Candy & Chocolate'...",...,0,1,0,0,0,0,0,0,0,0
1209,5.0,1,"04 19, 2018",A220EKHG6IICUH,B00JLRUC1K,butterflylovah,These are so good. Unfortunately if you live o...,These are so good. Unfortunately if you live o...,NaN,"['Grocery & Gourmet Food', 'Candy & Chocolate'...",...,0,1,0,0,0,0,0,0,0,0

---
# 9 (real data example demo) Applying iteration and function
* count total number of reviews
* get average star ratings
* apply conditional statement
* apply iteration
* apply function
---

In [52]:
# check the data type first
type(df)

pandas.core.frame.DataFrame

In [50]:
# check the data dimension
df.shape

(1210, 58)

In [48]:
df.overall.count()

1210

In [53]:
df.overall.sum()

4952.0

In [54]:
# average star rating for all reviews 
df.overall.sum()/df.overall.count()

4.092561983471074

In [45]:
# average star rating for all reviews 
df.overall.mean()

4.092561983471074

In [55]:
df.brand.unique()

array(['Cheerwine', "Gustaf's", 'Weber', 'Wine Country Gift Baskets'],
      dtype=object)

In [56]:
brand_list = df.brand.unique()
type(brand_list)

numpy.ndarray

In [57]:
brand_list

array(['Cheerwine', "Gustaf's", 'Weber', 'Wine Country Gift Baskets'],
      dtype=object)

In [60]:
brand_list[0]

'Cheerwine'

---
* How to check dimension of each brand?
---

In [64]:
df[df.brand==brand_list[0]].shape

(304, 58)

In [65]:
df[df.brand==brand_list[1]].shape

(581, 58)

In [66]:
df[df.brand==brand_list[2]].shape

(143, 58)

In [67]:
df[df.brand==brand_list[3]].shape

(182, 58)

* how to check the sample size for each brand?

In [70]:
# just sample size
df[df.brand==brand_list[3]].shape[0]

182

---
* how to get average star rating for each brand?
---

In [71]:
df[df.brand==brand_list[0]].overall.mean()

4.2368421052631575

In [72]:
df[df.brand==brand_list[1]].overall.mean()

3.9259896729776247

In [73]:
df[df.brand==brand_list[2]].overall.mean()

4.86013986013986

In [74]:
df[df.brand==brand_list[3]].overall.mean()

3.78021978021978

---
* make it simpler using iteration
---

In [83]:
for i in range(0, len(brand_list)):
    print('\nTotal number of reviews for', brand_list[i])
    print(df[df.brand==brand_list[i]].shape[0])
    print('Average star rating for', brand_list[i])
    print(df[df.brand==brand_list[i]].overall.mean())

Total number of reviews for Cheerwine
304
Average star rating for Cheerwine
4.2368421052631575

Total number of reviews for Gustaf's
581
Average star rating for Gustaf's
3.9259896729776247

Total number of reviews for Weber
143
Average star rating for Weber
4.86013986013986

Total number of reviews for Wine Country Gift Baskets
182
Average star rating for Wine Country Gift Baskets
3.78021978021978

---
* make it simpler using function
---

In [84]:
def review_count_and_average_rating(data, our_brand_list):
    for i in range(0, len(our_brand_list)):
        print('\nTotal number of reviews for', our_brand_list[i])
        print(data[data.brand==our_brand_list[i]].shape[0])
        print('Average star rating for', brand_list[i])
        print(data[data.brand==our_brand_list[i]].overall.mean())

In [85]:
review_count_and_average_rating(df, brand_list)

Total number of reviews for Cheerwine
304
Average star rating for Cheerwine
4.2368421052631575

Total number of reviews for Gustaf's
581
Average star rating for Gustaf's
3.9259896729776247

Total number of reviews for Weber
143
Average star rating for Weber
4.86013986013986

Total number of reviews for Wine Country Gift Baskets
182
Average star rating for Wine Country Gift Baskets
3.78021978021978

In [86]:
brand_list[0:2]

array(['Cheerwine', "Gustaf's"], dtype=object)

In [87]:
review_count_and_average_rating(df, brand_list[0:2])

Total number of reviews for Cheerwine
304
Average star rating for Cheerwine
4.2368421052631575

Total number of reviews for Gustaf's
581
Average star rating for Gustaf's
3.9259896729776247

---
# 10 (real data example activity) Applying all we have learn today
* apply iteration 
* apply function
---

---
* how to get the sum of all reviews in each brand using iteration?
---

In [88]:
# modify the following code
for i in range(0, len(brand_list)):
    print('\nTotal number of reviews for', brand_list[i])
    print(df[df.brand==brand_list[i]].shape[0])
    print('Average star rating for', brand_list[i])
    print(df[df.brand==brand_list[i]].overall.mean())

Total number of reviews for Cheerwine
1288.0

Total number of reviews for Gustaf's
2281.0

Total number of reviews for Weber
695.0

Total number of reviews for Wine Country Gift Baskets
688.0

----
* how to get the sum of all reviews in each brand using function?
hint: sum()
----

In [ ]:
# modify the following code
def review_count_and_average_rating(data, our_brand_list):
    for i in range(0, len(our_brand_list)):
        print('\nTotal number of reviews for', our_brand_list[i])
        print(data[data.brand==our_brand_list[i]].shape[0])
        print('Average star rating for', brand_list[i])
        print(data[data.brand==our_brand_list[i]].overall.mean())

In [89]:
#def sum_of_ratings_brand(data, our_brand_list):


#sum_of_ratings_brand(df, brand_list)

Total number of reviews for Cheerwine
1288.0

Total number of reviews for Gustaf's
2281.0

Total number of reviews for Weber
695.0

Total number of reviews for Wine Country Gift Baskets
688.0

# 11 (real data example discussion) For computational thinking and future ideas
* what can we do more?
* for example, 
* how to detect fake reviews? 
* what are the determinant of consumer happiness (the five star ratings)?

---
# 12 Share resources for future studies
* Yelp product review dataset: https://www.yelp.com/dataset
* Amazon product review dataset: http://jmcauley.ucsd.edu/data/amazon/links.html
* NYTimes API (book and movie reviews): https://developer.nytimes.com/apis
* Amazon review analysis paper:
https://ieeexplore.ieee.org/abstract/document/9590517
---

# Q&A